* {
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
body {
	/* font-size: 22px; */
	margin: 10px 100px 40px 100px;
	background-color: rgb(36, 36, 36);
	color: white;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
@media (max-width: 860px) {
	body {
		margin: 0;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
